<!doctype html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <title>وقت و زمان</title>
    <meta name="description"
        content="ابزارهای اعلام وقت و زمان دقیق ، تعیین و تبدیل انواع تقویمها و زمان کشورهای گوناگون">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="https://www.bahesab.ir/favicon.ico">
    <link rel="preload" href="https://www.bahesab.ir/Shl.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/css/bahesab.css">
</head>

<body>
    <header>
        <a href="https://www.bahesab.ir/">باحساب</a>
    </header>
    <main id="main">
        <ul class="s-time">
            <li>
                <a href="/time/calendar/">تقویم ایران</a>
            </li>
            <li>
                <a href="/time/age/">محاسبه سن</a>
            </li>
            <li>
                <a href="/time/diff/">فاصله دو تاریخ</a>
            </li>
            <li>
                <a href="/time/conversion/">تبدیل تاریخ</a>
            </li>
            <li>
                <a href="/time/prayer/">اوقات شرعی</a>
            </li>
            <li>
                <a href="/time/world/">ساعت جهانی</a>
            </li>
        </ul>
        <div class="bahesab-wait" id="bahesab-wait">
            <div class="w-today" id="w-today">
                <div class="p-day" id="p-day">❮ روز قبل</div>
                <div class="w-today-t">تاریخ امروز</div>
                <div class="n-day" id="n-day">روز بعد ❯</div>
            </div>
            <div class="top-container">
                <div class="date-1">
                    <span class="week-day">یکشنبه &nbsp;،</span>
                    ۱۳ &nbsp;اسفند<span class="falaki">( حوت )</span>
                </div>
                <div class="date-11">۱۳ &nbsp;/&nbsp;۱۲ &nbsp;/&nbsp;۱۴۰۲</div>
                <div class="date-2">
                    <span class="falaki">( مارچ ، مارس )</span>
                    March &nbsp;&nbsp;3<span class="week-day">,&nbsp;Sunday</span>
                </div>
                <div class="date-22">3 &nbsp;-&nbsp;3 &nbsp;-&nbsp;2024</div>
                <div class="date-3">
                    <span class="week-day">الأحد &nbsp;،</span>
                    ۲۲ &nbsp;شعبان <span class="falaki"></span>
                </div>
                <div class="date-33">۲۲ &nbsp;/&nbsp;۸ &nbsp;/&nbsp;۱۴۴۵</div>
            </div>
            <div id="bahesab-clock" class="bahesab-clock">
                <span class="clock-t">ساعت ایران</span>
                <span id="hour" class="hour">--</span>
                <span class="dot">:</span>
                <span id="minut" class="minut">--</span>
                <span class="dot">:</span>
                <span id="second" class="second">--</span>
                <div class="am">am</div>
            </div>
            <div id="tahvil"></div>
        </div>
        <div id="app" class="app">
            <div id="app-1" class="app-icon">#</div>
            <div id="app-2" class="text">اپلیکیشن ساعت و تقویم</div>
            <div id="app-3" class="text-1">بهینه برای کاربران اندروید</div>
        </div>
        <div id="post-cont">
            <div class="ba-hesab-post">
                <h1>انواع ابزارهای وقت و زمان</h1>
                <p>
                    <a href="/time/newyear1403/">لحظه تحویل سال ۱۴۰۳</a>
                    شمسی به ساعت رسمی ایران برابر است با ساعت ۶ و ۳۶ دقیقه و ۲۶ ثانیه روز چهار شنبه ۱ فروردین ۱۴۰۳ شمسی
                    - ۲۰ مارس (مارچ) ۲۰۲۴ میلادی - ۹ رمضان ۱۴۴۵ قمری.
                <p>
                <p>آگاهی از زمان و اوقات شرعی امروز ، تبدیل تاریخ ، ساعت رسمی ایران ، ساعت جهانی و یااستفاده ازیک
                    کرنومتر و زمان سنج دقیق بصورت آنلاین دراین بخش امکانپذیراست.برای کار باهریک ازموارد فوق، لازمست
                    ازنوار بالای صفحه ابزار مورد نظر خود راانتخاب نمایید. درادامه معرفی مختصری ازهریک ازابزارهای موجود
                    دراین صفحه خواهد آمد.</p>
                <p>
                    آگاهی از <a href="/time/today/">تاریخ امروز</a>
                    و روز هفته براساس سالهای میلادی قمری شمسی و مشاهده اینکه امروز چندمه دربالای صفحه میسر میباشد. تاریخ
                    امروز بنابر وقت محلی ایران بوده و مناسبت روز نیزبه نمایش درمیآید.
                </p>
                <p>
                    <a href="/time/clock/">ساعت رسمی ایران</a>
                    به وقت تهران آنلاین و دقیق دراختیار کاربران قرار میگیرد. ساعت آنلاین ایران بسیار دقیق بوده و علاوه
                    برآن ساعت جهانی بهمراه ساعت کشورهای جهان نیز اعلام میگردد.
                </p>
                <p>کرنومتر آنلاین سایت برای اندازه گیری زمان و ثبت آن تا صدم ثانیه قابل بکار میرود و درطراحی سعی شده
                    اندازه گیری بدون خطا باشد و دقیق ترین زمان رانمایش دهد. باثبت هرلحظه، تفاضل دو زمان متوالی هم محاسبه
                    شده و نمایش داده میشود.</p>
                <p>کاربرد زمان سنج آنلاین شمارش معکوس ازیک زمان مشخص برحسب ثانیه و صدم ثانیه تاصفر میباشد. زمان اولیه
                    توسط کاربر تعیین می شود. پس ازپایان زمان انتخاب شده آهنگ هشدار پخش میگردد.</p>
                <p>جهت آگاهی از اوقات شرعی امروز و فردا و تعیین وقت اذان به افق هرشهر مانند تهران، مشهد، قم و یاهرنقطه
                    ایران میتوانید ازاین صفحه استفاده کنید و وقت اذان صبح، ظهر و مغرب و همچنین زمان طلوع آفتاب و غروب و
                    نیمه شب شرعی را آنلاین مشاهده نمایید. تمام اوقات شرعی اعلام شده،بسیار دقیق بوده و منطبق بر تقویم
                    رسمی ایران ، سال 96 دانشگاه تهران است.</p>
                <p>
                    آگاهی از <a href="/time/1401/">تقویم ۱۴۰۱</a>
                    و <a href="/time/miladi/">ماه های میلادی</a>
                    و <a href="/time/ramadan1402-1403/">ماه رمضان ۱۴۰۳</a>
                    و <a href="/time/muharram/">ماه محرم ۱۴۰۲</a>
                    و <a href="/time/1402/">تقویم ۱۴۰۲</a>
                    و <a href="/time/140212/">اسفند ۱۴۰۲</a>
                    و <a href="/time/140301/">فروردین ۱۴۰۳</a>
                    و <a href="/time/140302/">تقویم اردیبهشت ۱۴۰۳</a>
                    و <a href="/time/1403/">تقویم ۱۴۰۳</a>
                    نیز میسر بوده و بخش تبدیل تاریخ شمسی میلادی و قمری نیز ازطریق لینک بالای صفحه دردسترس میباشد.
                </p>
                <p>
                    زمان اذان و اوقات شرعی به افق <a href="/time/tehran/">تهران</a>
                    و <a href="/time/mashhad/">مشهد</a>
                    و <a href="/time/tabriz/">تبریز</a>
                    و <a href="/time/isfahan/">اصفهان</a>
                    و <a href="/time/shiraz/">شیراز</a>
                    و <a href="/time/karaj/">کرج</a>
                    و <a href="/time/qom/">قم</a>
                </p>
            </div>
        </div>
    </main>
    <ul class="bottom-link">
        <li>
            <a href="/time/today/">تاریخ امروز ، امروز چندمه</a>
        </li>
        <li>
            <a href="/time/conversion/">تبدیل تاریخ شمسی به میلادی</a>
        </li>
        <li>
            <a href="/time/prayer/">اوقات شرعی ، وقت اذان</a>
        </li>
        <li>
            <a href="/time/age/">محاسبه سن دقیق</a>
        </li>
        <li>
            <a href="/time/1403/">تقویم ۱۴۰۳ ، سال 1403</a>
            <a href="/time/1402/">تقویم ۱۴۰۲ ، سال 1402</a>
        </li>
        <li>
            <a href="/time/140212/">تقویم اسفند ۱۴۰۲</a>
        </li>
        <li>
            <a href="/time/140302/">تقویم اردیبهشت ۱۴۰۳</a>
        </li>
        <li>
            <a href="/time/140301/">تقویم فروردین ۱۴۰۳</a>
        </li>
        <li>
            <a href="/time/miladi/">ماه های میلادی</a>
        </li>
        <li>
            <a href="/calc/calculator/">ماشین حساب آنلاین</a>
        </li>
        <li>
            <a href="/calc/vam/">محاسبه اقساط و سود وام</a>
        </li>
        <li>
            <a href="/calc/sood/">محاسبه سود سپرده بانکی</a>
        </li>
        <li>
            <a href="/map/distance/">فاصله شهرها ، مسافت بین شهرها</a>
        </li>
        <li>
            <a href="/map/iran/">نقشه ایران ، راهها و شهرها</a>
        </li>
        <li>
            <a href="/calc/unit/">تبدیل واحد آنلاین</a>
        </li>
        <li>
            <a href="/calc/diagram/">رسم نمودار آنلاین</a>
        </li>
        <li>
            <a href="/time/newyear1403/">لحظه تحویل سال ۱۴۰۳</a>
        </li>
        <li>
            <a href="/calc/bmi/">محاسبه BMI ، شاخص توده بدنی</a>
        </li>
    </ul>
    <a href="/contact/" class="contact">تماس با ما</a>
    <div class="nt" id="nn">Copyright © 2015-2024 Bahesab.ir</div>
    <footer id="footer">
        <div class="copyright">هرگونه کپی برداری از محتوا و برنامه های سایت مجاز نمی باشد.</div>
    </footer>
    <script type="text/javascript" src="/js/bahesab.js"></script>
</body>

</html>