<div class="companies-container">
    <div id="companies">
        <div class="findCompany">
            <input type="text" placeholder="Type a company name here ...">
        </div>

    </div>
</div>