<%- include('./panel-menu.ejs') %>

    </div><!-- end of main-content div -->
</div> <!-- end of d-main div -->

<script type="text/JavaScript" src="/js/login.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/companies.js"></script>
<script type="text/javascript" src="/js/persons.js"></script>




<body>


    </html>