<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/google.css">
    <link rel="stylesheet" href="/css/companies.css">
    <link rel="stylesheet" href="/css/contacts.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="/css/inquiry.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"
        integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.slim.js"
        integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/24eb854eaf.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>








</head>

<body>



    <div id="main">
        <div id="sidebar-menu">

            <ul>
                <li>
                    <a href="/" id="farad-logo"> <span class="icon-FARAD"></span>
                    </a>
                </li>

            </ul>
            <ul>
                <li class="sidebar-menu-tab">
                    <span class="sidebar-menu-tab-item">
                        Iqnuiries
                    </span>
                </li>
                <li class="sidebar-menu-tab">
                    <span class="sidebar-menu-tab-item active">
                        Orders
                    </span>
                </li>

            </ul>
            <ul id="sidebar-footer">
                <li class="other">
                    <span class="icon-grid9"></span>
                </li>
            </ul>


        </div>
        <div id="overlay"></div>
        <div id="main-content">


