<%- include('./Header.ejs') %>
    <title>login</title>


    <div class="container">
        <section class="vh-100 gradient-custom">
            <div class="container py-3 h-100">
                <div class="row d-flex justify-content-center align-items-center h-80">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="login-card">



                            <div class="logo" class="m-2 text-center">

                                <i class="fa-solid fa-truck-fast"></i>

                            </div>

                            <form id="login-form">

                                <div id="login-error">

                                </div>


                                <div id="username" class="form-group form-white mt-4 
                                ">
                                    <label for="inputEmail4">Email</label>
                                    <input type="text" name="username" class="form-control" id="inputEmail4"
                                        placeholder="Email">
                                    <p id="Error"></p>
                                </div>

                                <div id="password" class="form-group form-white mb-0">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" name="password" class="form-control" id="inputPassword4"
                                        placeholder="Password">
                                    <p id="Error"></p>

                                </div>

                                <p class="small mb-2 pb-lg-2"><a class="text-white-50" href="/forget">Forgot
                                        password?</a>
                                </p>
                                <div class="form-check mb-2">
                                    <input name="Remember" class="form-check-input" type="checkbox" value=""
                                        id="rememberCheck">
                                    <label class="form-check-label" for="Remember">
                                        Remember me </label>
                                </div>
                            </form>

                            <div class="text-center">
                                <button class="btn btn-outline-light  w-100" onclick="login()">Sign
                                    In</button>
                            </div>
                            <div class="justify-content-center text-center my-2">
                                <span class="text-white-50 small  ">
                                    or continue with
                                </span>
                            </div>

                            <div class="justify-content-center text-center">
                                <button class="gsi-material-button">
                                    <div class="gsi-material-button-state"></div>
                                    <div class="gsi-material-button-content-wrapper">
                                        <div class="gsi-material-button-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                                                <path fill="#EA4335"
                                                    d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                                                </path>
                                                <path fill="#4285F4"
                                                    d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                                                </path>
                                                <path fill="#FBBC05"
                                                    d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                                                </path>
                                                <path fill="#34A853"
                                                    d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                                                </path>
                                                <path fill="none" d="M0 0h48v48H0z"></path>
                                            </svg>
                                        </div>
                                        <span class="gsi-material-button-contents">Sign in with
                                            Google</span>
                                        <span style="display: none;">Sign in with Google</span>
                                    </div>
                                </button>
                            </div>


                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>

                            <div id="question">
                                <p>Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign
                                        Up</a>
                                </p>
                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <script type="text/javascript" src="/js/login.js"></script>

    <%- include('./Footer.ejs') %>