

<div class="panel-menu-div">
    <ul id="panel-menu">
        <li class="panel-item" id="panel-item-companies">
            <span class="icon-office" style="color: #2ecc71 ;"></span> 
            Companies
        </li>
        <li class="panel-item" id="panel-item-persons">
            <span class="icon-contact-book"  style="color: #3498db  ;"></span>
            Persons
        </li>
        <li class="panel-item">
            <span class="icon-bubbles3" style="color: #ffc107  ;"></span>
            Messages
        </li>
        <li class="panel-item">
            <span class="icon-file-text2" style="color: #6f42c1  ;"></span>
            Inquiries
        </li>
        <li class="panel-item">
            <span class="icon-file-text" style="color: #fd7e14  ;"></span>
            Offers
        </li>
        <li class="panel-item">
            <span class="icon-cart" style="color: #dc3545  ;"></span>
            Orders
        </li>
        <li class="panel-item" style="color: #6c757d  ;">
            <span class="icon-cog"></span>
            Settings
        </li>

    </ul>
</div>


<div class="panel-main">
    <span>ثبت بازخورد</span>
</div>

<div class="panel-footer">

    <div class="farad" style="color: #696969;">
<span style="font-size:20px ; font-weight: 600;">FARAD</span>
        Version 1.0.0

    </div>

    <div class="social-media-icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-solid fa-phone"></i>
    </div>


</div>


